<div class="section">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent static-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <h1>Rule of Thumb.</h1>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Past Trials
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">How It Works</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Log In / Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><img src="../../../assets/img/search.svg" alt=""></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Card -->

    <div class="container container-card">
        <div class="container-card__box">
            <div class="container-card__box--top">
                <h1>What’s your opinion on <br><span>Pope Francis?</span></h1>
                <p>He’s talking tough on clergy sexual abuse, but is he just another papal pervert protector? (thumbs
                    down) or a true pedophile punishing pontiff? (thumbs up) </p>

                <a href="#"><img src="../../../assets/img/Wiki.png" alt=""> More information</a>
                <br>
                <br>

                <p>What’s Your Verdict?</p>
            </div>
            <div class="container-card__box--botton">
                <div class="left">
                    <a href=""><img src="../../../assets/img/good.svg" alt=""></a>
                </div>
                <div class="right">
                    <a href=""><img src="../../../assets/img/bad.svg" alt=""></a>
                </div>
            </div>

        </div>
    </div>


    <div class="barHome">
        <div class="barHome barHome__text">
            <p>CLOSING IN</p>
        </div>
        <div class="barHome barHome__days">
            <p>22 <span>days</span></p>
        </div>

    </div>

</div>