<div class="container">
   
    <div class="cardAlert">
        <div class="cardAlert__left">
            <p>Speak out. Be heard. <br> <span>Be counted</span> </p>
        </div>
        <div class="cardAlert__right">Rule of Thumb is a crowd sourced court of public opinion where anyone and everyone
            can speak out and speak freely. It’s easy: You share your opinion, we analyze and put the data in a public
            report.</div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <cards-people></cards-people>
    

</div>