/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: lato, "Helvetica Neue", sans-serif;  box-sizing: content-box }
a{color: white}


@media (min-width: 1200px){
    .container {
        max-width: 1027px;
    }

}
